<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.river.supportconnection">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar"
        android:usesCleartextTraffic="true">
        <activity android:name=".ui.LoanActivity"/>
        <activity android:name=".ui.LoadingActivity"/>
        <activity android:name=".ui.Jasaninput_activity" />
        <activity android:name=".ui.RecyclerActivity" />
        <activity android:name=".ui.inputinfo.InputInfo1Activity" />
        <activity android:name=".ui.inputinfo.InputInfo2Activity" />
        <activity android:name=".ui.inputinfo.InputInfo3Activity" />
        <activity android:name=".ui.inputinfo.InputInfo4Activity" />
        <activity android:name=".ui.inputinfo.InputInfo5Activity" />
        <activity android:name=".ui.inputinfo.InputInfo5_1Activity" />
        <activity android:name=".ui.inputinfo.InputInfo6Activity" />
        <activity android:name=".ui.inputinfo.InputInfo7Activity" />
        <activity android:name=".ui.inputinfo.InputInfo7_1Activity" />
        <activity android:name=".ui.inputinfo.InputInfo7_2Activity" />
        <activity android:name=".ui.inputinfo.InputInfo7_3Activity" />
        <activity android:name=".ui.inputinfo.InputInfo7_4Activity" />
        <activity android:name=".ui.inputinfo.InputInfo7_5Activity" />
        <activity android:name=".ui.RealMainActivity" />
        <activity android:name=".ui.ShareActivity" />
        <activity android:name=".ui.register.Register2Activity" />
        <activity android:name=".ui.register.Register1Activity" />
        <activity
            android:name=".ui.splash.Splash_Activity"
            android:noHistory="true"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.MainActivity" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>